<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digizone.chrisarbe.musicproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="musicZone"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8744365861161319~7639300880"/>

        <activity
            android:name="com.digizone.chrisarbe.musicproject.MainActivity"
            android:label="musicZone"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.digizone.chrisarbe.musicproject.Ayuda"
            android:label="Ayuda"
            android:parentActivityName="com.digizone.chrisarbe.musicproject.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digizone.chrisarbe.musicproject.MainActivity" />
        </activity>
        <activity
            android:name="com.digizone.chrisarbe.musicproject.AcercaDe"
            android:label="Acerca de la App"
            android:parentActivityName="com.digizone.chrisarbe.musicproject.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digizone.chrisarbe.musicproject.MainActivity" />
        </activity>
        <activity android:name="com.digizone.chrisarbe.musicproject.YoutubeActivity" />
        <activity
            android:name="com.digizone.chrisarbe.musicproject.RadioStream"
            android:label="Radio Stream"
            android:parentActivityName="com.digizone.chrisarbe.musicproject.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digizone.chrisarbe.musicproject.MainActivity" />
        </activity>
    </application>



</manifest>